
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="form-group" >
        <input class="btn btn-success" id="searchbtn"  routerLink="/search" routerLinkActive="active"  type="submit" name="submit_reg" value="search">
    </div>
    <div class="row">
        
        <div class="col-md-6">
            
            <form [formGroup]="exform">
                <fieldset>
                    <legend class="text-center">Valid information is required to register. <span class="req"><small>
                                required *</small></span></legend>
                    <div class="form-group">
                        <label for="userName"> User Name: <span class="req">* </span></label>
                        <input formControlName ="userName" class="form-control" type="text" [(ngModel)]="user.userName" name="userName" id="txt" required
                         placeholder="Enter valid User Name" />
                         <span class="error" *ngIf = "userName.invalid && userName.touched ">User Name is required*</span>
                        <div id="errFirst"></div>
                    </div>    
                    <div class="form-group">
                        <label for="surName"> Sur Name: <span class="req">* </span></label>
                        <input formControlName ="surName" class="form-control"  type="text" [(ngModel)]="user.surName" name="Sur Name" id="name" required
                             placeholder="Enter your sur name..." />
                            <span class="error" *ngIf = "surName.invalid && surName.touched ">SurName is required*</span>
                            <div id="errFirst"></div>
                        </div>
                    <div class="form-group">
                        <label for="dateOfJoining">  Date Of Joining: <span class="req">* </span></label>
                        <input formControlName ="dateOfJoining" class="form-control" type="date" [(ngModel)]="user.dateOfJoining" name="Date Of Joining" id="Date" required
                            placeholder="Enter Date Of Joining" />
                            <span class="error" *ngIf = "dateOfJoining.invalid && dateOfJoining.touched ">Date of Joining is required*</span>
                        <div id="errFirst"></div>
                    </div>
                    <div class="form-group">
                        <label for="dateOfBirth"> Date Of Birth: <span class="req">* </span></label>
                        <input formControlName ="dateOfBirth" class="form-control" type="date" [(ngModel)]="user.dateOfBirth" name="Date Of Birth" id="Date" required
                            placeholder="Enter valid Date Of Birth" />
                            <span class="error" *ngIf = "dateOfBirth.invalid && dateOfBirth.touched ">Date of Birth is required*</span>
                        <div id="errFirst"></div>
                    </div>
                    <div class="form-group">
                        <label for="mobileNo"> Mobile No: <span class="req">* </span></label>
                        <input formControlName ="mobileNo" class="form-control" type="text" [(ngModel)]="user.mobileNo" name="mobile No" id="txt" required
                            placeholder="Enter valid mobile no" />
                            <span class="error" *ngIf = "mobileNo.invalid && mobileNo.touched ">Valid Mobile No is required*</span>
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="email"> Email: <span class="req">* </span></label>
                        <input formControlName ="email" class="form-control" type="text" [(ngModel)]="user.email" name="email" id="txt" required
                            placeholder="Enter valid email address" />
                            <span class="error" *ngIf = "email.invalid && email.touched ">Email is required*</span>
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="city"> City : <span class="req">* </span></label>
                        <input formControlName ="city" class="form-control" type="text" [(ngModel)]="user.city" name="city" id="txt"
                            placeholder="Enter valid city name" required />
                            <span class="error" *ngIf = "city.invalid && city.touched ">City is required*</span>
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="state"> State: <span class="req">* </span></label>
                        <input formControlName ="state" class="form-control" required type="text" [(ngModel)]="user.state" name="state"
                            id="email" placeholder="Enter valid State name" />
                            <span class="error" *ngIf = "state.invalid && state.touched ">State is required*</span>
                            <div id="errLast"></div>
                    </div>
                    <div class="form-group" >
                        <input class="btn btn-success" [disabled]="!exform.valid"  type="submit" name="submit_reg" value="Register" (click)="registerNow()">
                    </div>
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->

    </div>
</div>

<div style="text-align: center">
    <h1>{{messages}}</h1>
</div>