
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <div class="input-group col-md-12" style="text-align: center">
                                    <input type="text" class="search-query form-control" placeholder="Search With field"  name="field" [(ngModel)]="field"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" (click)="findUserByField(field)">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
    </div>
    </div>
<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>UserId</th>
            <th>UserName</th>
            <th>SurName</th>
            <th ><i class="fa fa-fw fa-sort"></i>DateOfJoining</th>
            <th>DateOfBirth</th>
            <th>Mobile No</th>
            <th>Email</th>
            <th>City</th>
            <th>State</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.userId}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.surName}}</td>
            <td>{{user.dateOfJoining}}</td>
            <td>{{user.dateOfBirth}}</td>
            <td>{{user.mobileNo}}</td>
            <td>{{user.email}}</td>
            <td>{{user.city}}</td>
            <td>{{user.state}}</td>
            <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteUser(user.userId)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
          </tr>
    </tbody>
    </table>
    </div>
</div>



